body{
    background-color:black;
}

div{
    font-family: 'Ubuntu Mono', monospace;
    font-size:300%;
    color:white;
}

#e1{
    position:absolute;
    top:150px;
    left:150px;

}
#e2{
    position:absolute;
    top:150px;
    left:200px;
}
#e3{
    position:absolute;
    top:150px;
    left:300px;
}
#e5{
    position:absolute;
    top:150px;
    left:350px;
}
#e4{
    position:absolute;
    top:150px;
    left:450px;
}
#e6{
    position:absolute;
    top:150px;
    left:500px;
}
